# Ignore env file
.env

# Ignore cpython
.cpython
__pycache__

# Ignore any folder starting with ss (superseded)
ss*

# Ignore any csv, parquet, xlsx files in the root directory
/*.csv
/*.parquet
/*.xlsx

# Ignore any subfolders in any directory called transcripts or presentations
**/transcripts/*/
**/presentations/*/
